<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

    <!-- Parameters used by tests at runtime -->
    <TestRunParameters>
        
    </TestRunParameters>

    <MSTest>
        <MapInconclusiveToFailed>False</MapInconclusiveToFailed>
        <Parallelize>
           
            <Workers>12</Workers>
            <Scope>MethodLevel</Scope>
        </Parallelize>
    </MSTest>

</RunSettings>  
